:root {
    --line-height: 6.5vh;
    --header-height: 7.5vh;
      --nav-color:/* #0B5351; */ rgba(11, 83, 81, 0.85);
    --nav-hover-color: /*#00A9A5;*/rgb(0, 169, 165, 0.85);
}
body {
    margin: 0;
    padding: 0;
}
header {
    height: var(--header-height);
    position: fixed;
    background-color: var(--nav-color);
    text-align: center;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
}
section {
    font-family: 'Open Sans', sans-serif;
    padding-top: var(--header-height);
    height: 100vh;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--line-height);
}
.flex-container {
    display: flex;
    width: 100vw;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.logo {
    height: var(--header-height);
    margin-right: 3vw;
    margin-top: 5px;
}
.logo-container {
        margin-right: 0;
    }
.dropdown-menu {
    top: var(--header-height);
    display: inline-block;
    width: 100vw;
    padding: 12px 0;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    text-transform:uppercase
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    width: auto;
}
.dropdown-content {
    text-decoration: none;
    display: inline-block;
    height: var(--line-height);
    line-height: var(--line-height);
}
/* .dropdown-content {
    border-left: solid black 5px;
} */
.dropdown-content a {
    display: block;
    height: var(--line-height);
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 1vw;
}
.dropdown-content:hover {
    color: white;
    background-color: var(--nav-hover-color);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
#summary {
    text-align: center;
    height: 50vh;
    width: 100%;
    background: url('../images/IMG_4362.JPG');
    background-position-x: -1186px;
    background-position-y: -2480px;
}
#summary h1 {
    margin: 0;
    padding-top: 75px;
}
#dropdown {
    position: relative;
    padding-left: 1.25em;
}
#dropdown::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow:
        0 0.25em 0 0 black,
        0 0.5em 0 0 black;
    }

@media only screen and (max-width: 500px) {
    .hidden {
        background-color: var(--nav-hover-color);
        width: 0;
        height: 100vh;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 0;
        z-index: 1;
        transition: all 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        position: absolute;
    }
    .flex-container {
        display: flex;
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo {
        height: var(--header-height);
        margin-top: 5px;
        margin-right: 0;
    }
    .logo-container {
        margin-right: 6vw;
    }
    .hidden .dropdown-content {
        width: 0;
        visibility: hidden;
    }
    .animated.dropdown-content {
        width: 100vw;
        visibility: visible;
    }
    .shake {
        transform: rotate(-5deg);
    }
    .dropdown-content {
        width: 100vw;
        transition: all 0.5s ease-in-out;
    }
    .dropdown-content:hover {
        text-align: center;
        color: white;
        background-color: var(--nav-hover-color);
        background-color: var(--nav-color);
        width: 100vw;
    }
    .bar-container {
        display: block;
        width: 30px;
        height: 18px;
        margin-top: 17px;
        margin-bottom: 17px;
        margin-left: 6vw;
        background: none;
        cursor: pointer;
    }
    .bar-container div {
        display: block;
    }
    .bar-1, .bar-2, .bar-3 {
        display: block;
        width: 30px; /*16px;*/
        height: 4px; /*2px;*/
        border-radius: 10px;
        background: black;
        margin: 2px 0;
        transition: all 0.5s;
    }
    .bar-2 {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .change .bar-1 {
        transform: rotate(-45deg) translate(-6.75px, 6.7px)
        /* transform: rotate(-45deg) translate(-2.75px, 2.7px); */
        
    }
    .change .bar-2 {
        background-color:aqua;
        transform: translateY(-500px);
    }
    .change .bar-3 {
        transform: rotate(45deg) translate(-2.75px, -3px);
    }
    #summary {
        height: 100vh;
        width: 100%;
        background: url('../images/IMG_4362.JPG');
        background-position-x: -1766px;
        background-position-y: -2480px;
    }
    .expand {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        visibility: visible;   }
}